*, *::before, *::after {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.95rem;
  box-sizing: border-box;
}

body {
  background-image: url("../images/justicia.jpg");
  background-size: cover;
  background-position: center;
  height: 100vh;
}

.h-80 {
  max-height: 80px;
}

.h-100 {
  min-height: 100px;
}

.w-100 {
  max-width: 100px;
}

.contenedor {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 1px;
  top: 0;
  background-color: rgba(0, 0, 0, 0.507);
  min-height: 100vh;
  min-width: 100vw;
  justify-items: center;
  align-items: center;
}

.card {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  max-width: 350px;
  margin: auto auto;
  border: solid gray 1px;
  background: white;
  box-shadow: 0 8px 32px 0 rgba(255, 255, 255, 0.37);
  backdrop-filter: blur(3.5px);
  -webkit-backdrop-filter: blur(2.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  justify-content: center;
  overflow: auto;
}

.card-menu {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  max-width: 300px;
  margin: auto auto;
  border: solid gray 1px;
  background: white;
  box-shadow: 0 8px 32px 0 rgba(255, 255, 255, 0.37);
  backdrop-filter: blur(3.5px);
  -webkit-backdrop-filter: blur(2.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  justify-content: center;
  overflow: auto;
}

.card-form-indice {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  max-width: 500px;
  margin: auto auto;
  border: solid gray 1px;
  background: white;
  box-shadow: 0 8px 32px 0 rgba(255, 255, 255, 0.37);
  backdrop-filter: blur(3.5px);
  -webkit-backdrop-filter: blur(2.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  justify-content: center;
  overflow: auto;
}

@media (width <= 1000px) {
  .card {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    max-width: 90%;
    margin: 15px auto;
    border: solid gray 1px;
    background: white;
    box-shadow: 0 8px 32px 0 rgba(255, 255, 255, 0.37);
    backdrop-filter: blur(3.5px);
    -webkit-backdrop-filter: blur(2.5px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    justify-content: center;
    overflow: auto;
  }
  .card-menu {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    max-width: 90%;
    margin: 15px auto;
    border: solid gray 1px;
    background: white;
    box-shadow: 0 8px 32px 0 rgba(255, 255, 255, 0.37);
    backdrop-filter: blur(3.5px);
    -webkit-backdrop-filter: blur(2.5px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    justify-content: center;
    overflow: auto;
  }
}
.card-item {
  width: 7rem;
  height: 7rem;
  margin: 0.6rem;
  text-align: center;
}

.card-item > span {
  color: darkblue;
  font-weight: bold;
}

.card-item:hover {
  color: rgb(255, 238, 0);
}

.card-item img {
  width: 6rem;
  height: 6rem;
}

.card-titulo {
  display: flex;
  text-align: center;
  justify-content: center;
  flex-wrap: wrap;
  color: darkred;
  min-width: 100%;
}

.card-cuerpo {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 10px;
  padding: 20px;
  min-width: 100%;
}

.card-cuerpo-login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 10px;
  padding: 20px;
  min-width: 100%;
}

.card-buttonPanel {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  min-width: 100%;
  padding: 20px;
  gap: 5px;
}

.input-group {
  display: flex;
  flex-grow: 1;
  flex-shrink: 1;
  flex-direction: column;
  flex-basis: 50px;
  min-width: 100%;
}

.input-group_small {
  display: flex;
  flex-grow: 1;
  flex-shrink: 1;
  min-width: 50px;
  flex-direction: row;
  flex-basis: 50px;
  margin: 5px;
}

.input-group > label {
  color: darkblue;
}

.input-group > input {
  border: 1px solid rgb(146, 146, 146);
}

.input-group > select {
  border: 1px solid rgb(146, 146, 146);
  max-height: 48px;
  font-size: x-small;
  line-height: normal;
}

.input-group > select > option {
  font-size: x-small;
}

.input-group > textarea {
  border: 1px solid rgb(146, 146, 146);
  padding: 10px 5px;
}

.input-group > input:hover {
  border: 1px solid rgb(0, 21, 206);
}

.input-group > input:focus {
  outline: none;
}

#flex-small {
  max-width: 100px;
}

input {
  padding: 0.5rem 0;
  text-align: center;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  height: 30px;
}

select {
  padding: 1rem 0;
  text-align: center;
  text-indent: 12px;
}

select > option {
  text-align: left;
  text-indent: 2px;
}

.input-group > label {
  font-weight: 600;
  margin: 5px;
}

.my-button {
  flex-grow: 1;
  flex-shrink: 1;
  margin: 5px 0px;
  flex-basis: 1rem;
  border-radius: 2px;
  background-color: rgb(20, 20, 59);
  color: white;
  min-height: 4rem;
}

.my-button:hover {
  background-color: rgb(39, 39, 95);
  color: rgb(255, 238, 0);
  font-size: 110%;
  cursor: pointer;
}

.contenedor-report {
  height: 100vh;
  font-size: 5px;
  background-color: white;
}

.logo {
  float: right;
  position: relative;
  top: 15px;
  right: 65px;
  width: 90px;
  height: 100px;
}

.logoTitulo {
  margin: 30px 0;
  width: 50%;
  animation: heartbeat 1s infinite;
  box-shadow: 0 0 20px rgba(255, 0, 0, 0.9); /* Halo inicial */
}

@keyframes heartbeat {
  0%, 100% {
    transform: scale(0.9);
    box-shadow: 0 0 30px rgba(255, 0, 0, 0.9); /* Halo inicial */
  }
  5% {
    transform: scale(0.92);
  }
  17% {
    transform: scale(0.9);
  }
  25% {
    transform: scale(0.96);
  }
}
.indice {
  text-align: center;
  padding-top: 30px;
}

.indice > h2 {
  font-size: large;
}

.indice > div {
  display: flex;
  width: 90%;
  margin: auto;
  justify-content: space-between;
}

.indice > div > p {
  display: inline;
  width: 100px;
}

#tabla-index {
  width: 100%;
  border: 1px solid #000;
  border-collapse: collapse;
  margin: auto;
}

#tabla-index thead {
  background-color: rgb(255, 251, 0);
}

#tabla-index th {
  text-align: center;
  vertical-align: middle;
  border: 1px solid #000;
  border-collapse: collapse;
}

#tabla-index td {
  text-align: center;
  vertical-align: middle;
  border: 1px solid #000;
  border-collapse: collapse;
}

#tabla-index tr:nth-child(even) {
  background-color: rgb(240, 242, 243);
}

#tabla-tarifas {
  width: 90%;
  border: 1px solid rgb(22, 5, 97);
  border-collapse: collapse;
  margin: auto;
}

#tabla-tarifas thead {
  background-color: rgb(255, 251, 0);
}

#tabla-tarifas th {
  text-align: center;
  vertical-align: middle;
  border: 1px solid white;
  border-collapse: collapse;
}

#tabla-tarifas td {
  vertical-align: middle;
  border: 1px solid white;
  border-collapse: collapse;
}

#tabla-tarifas tbody tr {
  background-color: white;
}

#tabla-tarifas tr:nth-child(even) {
  background-color: gray;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.col-narrow {
  width: 170px;
}

.col-wide {
  width: 300px;
}

.col-wide-xl {
  width: 680px;
}

.pie-container {
  display: flex;
  margin: auto;
  margin-top: 50px;
  width: 90%;
  flex-direction: row;
  justify-content: flex-end;
}

.firmas {
  display: block;
  width: 200px;
  text-align: center;
}

.linea {
  background-color: #000;
  height: 2px;
  width: 200px;
}

footer {
  display: flex;
  justify-content: flex-end;
  width: 90%;
  margin: auto;
}

@media print {
  body {
    background: #fff !important;
  }
  footer {
    display: none;
  }
  h1 {
    font-size: medium;
  }
  h2 {
    font-size: smaller;
  }
}
@page {
  margin: 1.5cm;
  size: 8.5in 13in landscase;
}
.nocartule-title {
  font-weight: 600;
  letter-spacing: 2px;
}

.form_indice {
  display: grid;
  grid-template-columns: repeat(3, minmax(50px, 1fr));
  gap: 2px 2px;
  grid-auto-flow: row;
  grid-template-areas: "titulo_form titulo_form titulo_form" "tomo blank boton_load_index" "escritura blank ." "folios folios folios" "lugar lugar lugar" "fecha fecha firmas" "hora minutos blank2" "partes partes partes" "contrato contrato contrato" "entero blank3 blank4";
}

.folios {
  display: grid;
  grid-template-columns: 20% 25% 20% 25%;
  grid-template-rows: auto;
  grid-template-areas: "folio_num_inicio folio_fv_inicio folio_num_final folio_fv_final";
  grid-area: folios;
  justify-content: space-between;
}

@media (max-width: 500px) {
  .folios {
    grid-auto-flow: row;
    grid-template-columns: 1fr;
    grid-template-areas: "folio_num_inicio" "folio_fv_inicio" "folio_num_final" "folio_fv_final";
  }
}
.titulo_form {
  grid-area: titulo_form;
}

.blank {
  grid-area: blank;
}

.tomo {
  grid-area: tomo;
}

.escritura {
  grid-area: escritura;
  display: flex;
  width: 100%;
}

#searchTextField {
  display: flex;
  flex-direction: row;
}

#searchField {
  flex: 1;
}

#searchButton {
  background-color: rgb(20, 20, 59);
  color: darkblue;
  padding: 2px;
  margin-left: 5px;
}

#searchButton:hover {
  background-color: rgb(39, 39, 95);
  color: rgb(255, 238, 0);
}

.boton_load_index {
  grid-area: boton_load_index;
}

.folio_num_inicio {
  grid-area: folio_num_inicio;
}

.folio_num_final {
  grid-area: folio_num_final;
}

.folio_fv_inicio {
  grid-area: folio_fv_inicio;
}

.folio_fv_final {
  grid-area: folio_fv_final;
}

.lugar {
  grid-area: lugar;
}

.fecha {
  grid-area: fecha;
}

.firmas_frm {
  grid-area: firmas;
  display: flex;
  flex-direction: column;
}

.hora {
  grid-area: hora;
}

.minutos {
  grid-area: minutos;
}

.partes {
  grid-area: partes;
}

.contrato {
  grid-area: contrato;
}

.entero {
  grid-area: entero;
}

.form__errorLabel {
  color: red;
  margin-top: 2px;
}/*# sourceMappingURL=styles.css.map */