//Variables Generales

$font-family: Verdana, Geneva, Tahoma, sans-serif;
$font-size: 1rem;

// cuerpo general

* {
  margin: 0;
  padding: 0;
  font-family: $font-family;
  font-size: $font-size;
}

body {
  background-image: url("../images/justicia.jpg");
  background-size: cover;
  background-position: center;
  height: 100vh;
}

// clases personalizables

@mixin card($width, $min-width, $margin) {
  display: flex;
  flex-direction: column;
  width: $width;
  margin: $margin;
  margin-top: 25px;

  border: solid gray 1px;
  min-width: $min-width;

  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 8px 32px 0 rgba(255, 255, 255, 0.37);
  backdrop-filter: blur(3.5px);
  -webkit-backdrop-filter: blur(2.5px);
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  justify-content: center;
  max-height: 100vh;
  overflow-y: auto;
}

.contenedor {
  position: fixed;
  margin: 0;
  padding: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.356);
  height: 100vh;
  width: 100%;
}

//clases para formularios

.card {
  @include card(55%, 350px, auto);
}

.card-menu {
  @include card(30%, 300px, auto);
}

.card-item {
  width: 10rem;
  height: 10rem;
  margin: 1rem;
  text-align: center;
}

.card-item > span {
  color: white;
}

.card-item:hover {
  color: rgb(255, 175, 2);
}

img {
  width: 9rem;
  height: 9rem;
}

.card-titulo {
  text-align: center;
  color: rgb(255, 251, 0);
}
.card-cuerpo {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 10px;
}

.card-cuerpo-login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 10px;
  padding: 20px;
}



.input-group {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  flex-basis: 250px;
  margin: 5px;
}

.input-group > label {
  color: white;
}

#flex-small {
  max-width: 100px;
}

input {
  padding: 1rem 0;
  text-align: center;
}

select {
  padding: 1rem 0;
  text-align: center;
  text-indent: 12px;
}

select > option {
  text-align: left;
  text-indent: 2px;
}

.input-group > label {
  font-weight: 600;
  margin: 5px;
}

@media (width <=1000px) {
  .card {
    @include card(90%, 200px, 15px);
  }
  .card-menu {
    @include card(90%, 200px, 15px);
  }
}

.card-buttonPanel {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-bottom: 1.5rem;
}

.my-button {
  flex-grow: 1;
  margin: 10px 20px;
  padding: 1rem;
  font-weight: 600;

  border-radius: 14px;
  background-color: #b1b1b1;
  -webkit-box-shadow: 3px 4.5px 10px 5px #2e2e2e;
  -moz-box-shadow: 3px 4.5px 10px 5px #2e2e2e;
  box-shadow: 3px 4.5px 10px 5px #2e2e2e;
}

//clases para reportes

.contenedor-report {
  height: 100vh;
  font-size: 5px;
  background-color: white;
}

.logo {
  float: right;
  position: relative;
  top: 15px;
  right: 65px;
  width: 90px;
  height: 100px;
}

.logoTitulo{
  margin: 30px 0;
  animation: heartbeat 1s infinite;
  box-shadow: 0 0 20px rgba(255, 0, 0, 0.9); /* Halo inicial */
}


@keyframes heartbeat {
  0%, 100% {
    transform: scale(0.9);
    box-shadow: 0 0 30px rgba(255, 0, 0, 0.9); /* Halo inicial */
}
5% {
    transform: scale(0.92);
}
17% {
    transform: scale(0.9);
}
25% {
    transform: scale(0.96);
}
}

.indice {
  text-align: center;
  padding-top: 30px;
}

.indice > h2 {
  font-size: large;
}

.indice > div {
  display: flex;
  width: 90%;
  margin: auto;
  justify-content: space-between;
}

.indice > div > p {
  display: inline;
  width: 100px;
}

// ESTILOS PARA LAS TABLAS DE INDICE 

#tabla-index {
  width: 100%;
  border: 1px solid #000;
  border-collapse: collapse;
  margin: auto;
}

#tabla-index thead {
  background-color: rgb(255, 251, 0);
}

#tabla-index th {
  text-align: center;
  vertical-align: middle;
  border: 1px solid #000;
  border-collapse: collapse;
}

#tabla-index td {
  text-align: center;
  vertical-align: middle;
  border: 1px solid #000;
  border-collapse: collapse;
}

#tabla-index tr:nth-child(even) {
  background-color: rgb(240, 242, 243);
}

// ESTILOS PARA LAS TABLAS DE PANTALLA 

#tabla-tarifas {
  width: 90%;
  border: 1px solid rgb(22, 5, 97);
  border-collapse: collapse;
  margin: auto;
}

#tabla-tarifas thead {
  background-color: rgb(255, 251, 0);
}

#tabla-tarifas th {
  text-align: center;
  vertical-align: middle;
  border: 1px solid white;
  border-collapse: collapse;
}

#tabla-tarifas td {
  vertical-align: middle;
  border: 1px solid white;
  border-collapse: collapse;
}

#tabla-tarifas tbody tr {
  background-color: white;
}

#tabla-tarifas tr:nth-child(even) {
  background-color: gray;
}

.text-center{
  text-align: center;
}

.text-right{
  text-align: right;
}



.col-narrow {
  width: 170px;
}

.col-wide {
  width: 300px;
}

.col-wide-xl {
  width: 680px;
}

.pie-container {
  display: flex;
  margin: auto;
  margin-top: 50px;
  width: 90%;
  flex-direction: row;
  justify-content: flex-end;
}

.firmas {
  display: block;
  width: 200px;
  text-align: center;
}

.linea {
  background-color: #000;
  height: 2px;
  width: 200px;
}

footer {
  display: flex;
  justify-content: flex-end;
  width: 90%;
  margin: auto;
}

@media print {
  body {
    background: #fff !important;
  }

  footer {
    display: none;
  }
  h1 {
    font-size: medium;
  }
  h2 {
    font-size: smaller;
  }
}

@page {
  margin: 1.5cm;
  size: 8.5in 13in landscase;
}

.nocartule-title{

  font-weight: 600;
  letter-spacing: 2px;
}